<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<appSettings>
		<add key="ImagePhysicalPath" value="C:\\Users\\Kaan\\Documents\\Visual Studio 2010\\Projects\\ProductSearchEngine\\ProductSearchEngine.Web\\Images\\Products"/>
		<add key="ImagePath" value="http://localhost:42413/Images/Products"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString.SQL Server (SqlClient)" providerName="ConnectionString.SQL Server (SqlClient)" connectionString="data source=46.235.15.92;initial catalog=ProductSearchEngine;User ID=kaan;Password=241312;persist security info=False;packet size=4096"/>
	</connectionStrings>
</configuration>
